.fields{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: 40%;

  width: 300px;

}
.ff{
  margin-left: 10%;
  width: 70%;
}
.titlee{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.first{
  margin-left: 20%;
  margin-right: 30%;
}